body {
  background-color: black;
}

#button {
  margin-left: 20%;
  margin-top: 3%;

}

h1, h3, #results {
  font-family: "SwungNoteW01", sans-serif;
}
h1 {
  border: #fefae0 solid 5px;
  color: #fefae0;
  padding-bottom: 5%;
  padding-top: 5%;
  text-align: center;

}

h3 {
  color: #fefae0;
  font-size: 30px;
  text-align: center;

}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(
      var(--bounce-offset)
    );
  }
}

.box {
  animation:
    bounce alternate infinite
    cubic-bezier(.5, .65, .6, 1);
    position: absolute;
}
.box.one {
  --bounce-offset: -20px;
  animation-duration: 200ms;
  width: 150px;
  height: 150px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
}
.box.two {
  --bounce-offset: -30px;
  animation-duration: 300ms;
  width: 80px;
  height: 80px;
  background-color: rgb(255, 0, 195);
  border-radius: 50%;
  display: inline-block;
}
.box.three {
  --bounce-offset: -40px;
  animation-duration: 400ms;
  width: 50px;
  height: 50px;
  background-color: rgb(0, 94, 255);
  border-radius: 50%;
  display: inline-block;
}
.box.four {
  --bounce-offset: -20px;
  animation-duration: 200ms;
  width: 150px;
  height: 150px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  display: inline-block;
}
.box.five {
  --bounce-offset: -30px;
  animation-duration: 300ms;
  width: 80px;
  height: 80px;
  background-color: rgb(30, 149, 4);
  border-radius: 50%;
  display: inline-block;
}
.box.six {
  --bounce-offset: -40px;
  animation-duration: 400ms;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 149, 0);
  border-radius: 50%;
  display: inline-block;
}

#floatingInput {
  margin-top: 15% !important;
}


#results {
  border: #fefae0 solid 2px;
  color: whitesmoke;
  font-size: 20px;
}


